body {
  margin-top: 40px;
}

.row {
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}

.padre {
  background: blue;
  padding: 20px;
  color: white;
}

.hijo {
  padding: 50px;
  width: 200px;
  background-color: #000;
  margin: 20px;
}
